*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}
.container
{
    width: 100%;
    height: 100vh;
    background-color: skyblue;
}
.ci1
{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: rgb(19,56,198);
    background: linear-gradient(47deg, rgba(19,56,198,1) 0%, rgba(69,195,255,1) 100%);
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: -10%;

}
.ci2
{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: rgb(100,19,198);
    background: linear-gradient(47deg, rgba(100,19,198,1) 0%, rgba(255,69,204,1) 100%);
    position: absolute;
    overflow: hidden;
    left: 20%;
    top: 38%;

}
.box1
{
    height: 400px;
    width: 350px;
  
    position: relative;
    top: 20%;
    left: 38%;
    border-radius: 10px;
background: rgba(255, 255, 255, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.box1 img
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    left: 35%;
    top: 5%;
}
.box1 h3
{
    position: relative;
    top:10% ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 22px;
}
.t1
{
    color: gray;
    position: relative;
    top: 10%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.t2
{
    text-align: center;
    position: relative;
    top: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.icon
{
    position: relative;
    top: 25%;
    left: 28%;
}
.icon ul a
{
    display: flex;
    text-decoration: none;
    color: black;
}
.icon ul li
{
    list-style: none;
}
.icon ul li i
{
    font-size: 38px;
}